# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/redux-api-example/node_modules
/redux-api-example/.pnp
/redux-api-example/.pnp.js

# testing
/redux-api-example/coverage

# production
/redux-api-example/build

# misc
/redux-api-example/.DS_Store
/redux-api-example/.env.local
/redux-api-example/.env.development.local
/redux-api-example/.env.test.local
/redux-api-example/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/redux-api-example//src/app/data.json
/server/.env
/server/node_modules